<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" 
      content="default-src * vscode-resource: https: 'unsafe-inline' 'unsafe-eval';
        script-src vscode-resource: blob: https: 'unsafe-inline' 'unsafe-eval';
        style-src vscode-resource: https: 'unsafe-inline';
        img-src vscode-resource: data: https:;
        connect-src vscode-resource: blob: data: https: http:;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Data Preview">
    <base href="https://github.com/RandomFractals/vscode-data-preview" target="_blank" />
    <title>Data Preview</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="{scripts}/perspective.js"></script>
    <script src="https://unpkg.com/@finos/perspective-viewer@0.3.0-rc.2/build/perspective.view.js"></script>
    <script src="{scripts}/hypergrid.plugin.js"></script>
    <script src="{scripts}/{charts}.plugin.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@finos/perspective-viewer@0.3.0-rc.2/build/material{theme}.css">
    <style>
      body {
        margin: 0px;
      }
      #data-viewer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    </style>
  </head>
  <body>
    <perspective-viewer id="data-viewer" view="grid"></perspective-viewer>
    <script type="text/javascript">
      // data preview vars
      let vscode, dataUri, viewer, viewConfig = {}, viewData = [];

      // check web assembly support. uncomment this for dev debug:
      // console.log(`data.preview:supportsWebAssembly(): ${supportsWebAssembly()}`);
      
      // tag data view loading
      window.addEventListener('WebComponentsReady', event => {
        console.log('data.preview:WebComponentsReady: loading perspective data view...');
      });

      document.addEventListener('DOMContentLoaded', event => {
        // initialize data viewer
        viewer = document.getElementsByTagName('perspective-viewer')[0];
        try {
          // notify webview
          vscode = acquireVsCodeApi();
          vscode.postMessage({command: 'refresh'});

          // add viewer config change handler
          viewer.addEventListener('perspective-config-update', event => {
            viewConfig = viewer.save();
            // console.log(`data.preview:configUpdate(): config: ${JSON.stringify(viewConfig)}`);
            vscode.setState({uri: dataUri, config: viewConfig});
            vscode.postMessage({command: 'config', config: viewConfig});
          });
        }
        catch (error) {
          console.error(`data.preview:vscode:error ${error.message}`);
          // ignore: must be loaded outside of vscode webview
        }
      });

      // webview post message even handler
      window.addEventListener('message', event => {
        switch (event.data.command) {
          case 'refresh':
            refresh(event.data);
            break;
          default: // help
            // TODO: add quick data preivew popup display
            // with info how to work prespective viewer toggles UI
            break;
        }
      });

      /**
       * Updates data view on data file change.
       * @param data Refresh data json with doc uri, fileName and raw data to display.
       */
      function refresh(data) {
        try {
          // set preview state for restore on vscode reload
          dataUri = data.uri;
          viewConfig = data.config;
          vscode.setState({uri: dataUri, config: viewConfig});

          // load file data
          const tableData = getData(data.fileName, data.data, data.schema);
          if (Array.isArray(viewData) && viewData.length === 0) {
            // initialize perspective viewer
            console.log(`data.preview:refresh(): initializing view data for: ${data.fileName}`);
            viewer.restore(viewConfig);
            viewer.columns = viewConfig['columns'];
            viewer.load(data.schema);
            viewer.load(tableData);
            viewer.toggleConfig();
          } else {
            // update viewer data without toggles reset
            console.log(`data.preview:refresh(): updating view data for: ${data.fileName}`);
            viewer.clear();
            viewer.update(tableData);
          }
          // save loaded view data for future data update checks
          viewData = tableData;
        } catch (error) {
          console.error(`data.preview:refresh(): error: ${error.message}`);
        }
      }

      /** 
       * Coverts raw text or binary data to flat arrays for display in perspective viewer.
       * @param fileName Data file name.
       * @param data Raw text or binary file data.
       **/
      function getData(fileName, data, schema = {}) {
        let tableData = [];
        console.log(`data.preview:getData(): loading file data: ${fileName}`);
        if (fileName.endsWith('.csv')) {
          tableData = data;
        } else if (fileName.endsWith('.json')) {
          // try to parse JSON array data
          tableData = JSON.parse(data);          
        }
        else if (fileName.endsWith('.arrow')) {
          // pass through arrow table json
          tableData = data;
          console.log(`data.preview:getData(): schema: ${JSON.stringify(schema, null, 2)}`);
          console.log(`data.preview:getData(): records count: ${tableData.length}`);
        }
        return tableData;
      }

      /**
       * Checks web client web assembly support.
       */
      function supportsWebAssembly() {
        try {
          if (typeof WebAssembly === 'object' && typeof WebAssembly.instantiate === 'function') {
            const module = new WebAssembly.Module(Uint8Array.of(0x0, 0x61, 0x73, 0x6d, 0x01, 0x00, 0x00, 0x00));
            if (module instanceof WebAssembly.Module) {
              return new WebAssembly.Instance(module) instanceof WebAssembly.Instance;
            }
          }
        } catch (e) {}
        return false;
      }
    </script>
  </body>
</html>
