<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" 
      content="default-src * vscode-resource: https: 'unsafe-inline' 'unsafe-eval';
        script-src vscode-resource: blob: data: https: 'unsafe-inline' 'unsafe-eval';
        style-src vscode-resource: https: 'unsafe-inline';
        img-src vscode-resource: data: https:;
        connect-src vscode-resource: blob: data: https: http:;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Data Preview">
    <base href="https://github.com/RandomFractals/vscode-data-preview" target="_blank" />
    <title>Data Preview</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="{scripts}/perspective.js"></script>
    <script src="https://unpkg.com/@finos/perspective-viewer@0.3.8/dist/umd/perspective-viewer.js"></script>
    <script src="{scripts}/perspective-viewer-hypergrid.js"></script>
    <script src="{scripts}/perspective-viewer-{charts}.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@finos/perspective-viewer@0.3.8/dist/umd/material{theme}.css">
    <style>
      body {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
      }
      #data-preview-icon {
        color: orange;
        font-weight: bold;
        font-size: 11pt;
      }
      #toolbar {
        margin: 0px;
        margin-top: 5px;
        padding: 0px;
        padding-left: 7px;
        font-size: 10pt;
        font-weight: normal;
        display: inline-block;
        white-space: nowrap;
      }
      #toolbar-left {
        width: calc(100% - 120);
      }
      #toolbar-right {
        position: absolute;
        top: 7px;
        right: 0px;
        width: 130px;
        height: 32px;
        padding-left: 5px;
        background-color: var(--vscode-editor-background);
      }
      #toolbar a {
        color: dodgerblue;
        text-decoration: none;
        padding: 2px 5px 2px 5px;
      }
      #title {
        margin: 0px;
        padding: 0px;
      }
      #data-url-input {
        width: 200px;
        color: var(--vscode-editor-foreground);
        background-color: var(--vscode-editor-background);
        border: 1px solid #999;
      }
      #data-viewer {
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 0;
        right: 0;
      }
      #data-view-console-text {
        color: var(--vscode-editor-foreground);
        background-color: var(--vscode-editor-background);
        width: 100%;
        height: calc(100% - 32px);
        position: absolute;
        top: 32px;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        z-index: 100;
      }
      .hidden {
        display: none;
      }
      .label {
        color: var(--vscode-editor-foreground);
      }
      select {
        color: var(--vscode-editor-foreground);
        background-color: var(--vscode-editor-background);
      }
      perspective-viewer {
        --select--color: var(--vscode-editor-foreground);
        --select--background-color: var(--vscode-editor-background);
        --select--padding: 0px 5px 0px 5px;
        --hypergrid-scrollbar--width: 12px;
        --hypergrid-scrollbar--border-radius: 0px;
      }
    </style>
  </head>
  <body>
    <div id="toolbar">
      <div id="toolbar-right">
        <select id="save-file-type-selector" 
          title="Save Data View .config or Data" 
          onChange="saveData()">
          <option value="">📥&nbsp;Save</option>
          <option value=".config">⚙️ &nbsp;config</option>
          <option value=".arrow">⋙ arrow</option>
          <option value=".csv">,,, csv</option>
          <option value=".json">{} &nbsp;json</option>
          <option value=".json5">{} &nbsp;json5</option>
          <option value=".hjson">{} &nbsp;hjson</option>
          <option value=".html">&lt;&gt;html</option>
          <option value=".md">⇩ &nbsp;md</option>
          <option value=".ods">⊞ ods</option>
          <option value=".xml">&lt;&gt;xml</option>
          <option value=".xlsb">⊞ xlsb</option>
          <option value=".xlsx">⊞ xlsx</option>
          <option value=".yml">&nbsp;!&nbsp; yml</option>
          <option value=".properties">= &nbsp;properties</option>
        </select>
        <a id="help-button" title="Data Preview Help" href="#"
          style="color: orange;"
          onClick="loadHelp()">?</a>
      </div>
      <div id="toolbar-left">
        <a id="data-preview-button" title="Launch new Data Preview" href="#" 
          onClick="loadDataPreview()">
          <span id="data-preview-icon">🈸</span>
        </a>
        <a id="data-view-log-button" title="View Data Console Log" href="#" 
          onClick="toggleDataViewConsoleDisplay()">
          <span class="label">&gt;</span>
        </a>
        <a id="view-data-source-button" title="View Data Source" href="#" 
          onClick="viewDataSource()">
          <span class="label">☲</span>
        </a>
        <a id="title" title="Load Data View .config" href="#" 
          onClick="loadConfig()">{title}</a>
        <select id="table-selector" title="Select Data Table" 
          style="display: none;" 
          onChange="loadTableData()">
        </select>
        <!-- |
        <a title="Undo" href="#" onclick="undoConfig()"> ↩ </a>
        <a title="Redo" href="#" onclick="redoConfig()"> ↪ </a>
        -->
        <a id="refresh-data-button" title="Refresh Data" href="#"
          style="color: orange;"
          onclick="reloadData()">🔃</a>
        <a id="open-file-button" title="Open Data File" href="#" 
          onClick="openFile()">📤</a>
        <input id="data-url-input" type="text" title="Enter new Data File Path to Preview" 
          onKeyPress="loadDataPreviewForUrl()" />
      </div>
    </div>
    <textarea id="data-view-console-text" readonly="readonly" title="Data View Console">&gt;&nbsp;</textarea>
    <perspective-viewer id="data-viewer" view="hypergrid"
      style="--select--background-color: {themeColor}"></perspective-viewer>
    <script type="text/javascript">
      // data preview vars
      let vscode, title, tableSelector, rowCounter,
        saveFileTypeSelector,
        dataViewConsoleText, dataUrlInput,
        dataUrl, dataFileName,
        viewer, toggleConfig = true, restoringConfig = true,
        dataTable = '', dataViews = {}, tableNames = [], 
        viewConfig = {}, viewData = [], logLevel = 'info';

      // check web assembly support
      // console.log(`data.view:supportsWebAssembly(): ${supportsWebAssembly()}`);
      
      // initialize vs code api for messaging
      vscode = acquireVsCodeApi();

      // add webview post message event handler
      window.addEventListener('message', event => {
        switch (event.data.command) {
          case 'dataInfo':
            loadDataInfo(event.data);
            break;
          case 'refresh':
            refresh(event.data);
            break;
          default: // raw byte array
            // convert byte array to typed data array for loading into data view
            viewData = Uint8Array.from(event.data);
            logMessage(`data size in bytes: ${viewData.byteLength.toLocaleString()}`);
            // update data viewer
            viewer.load(viewData.buffer);
            if (toggleConfig) {
              // show viewer toggles on the 1st run
              viewer.toggleConfig();
              toggleConfig = false;
              toggleDataViewConsoleDisplay();
            }
            break;
        }
      });

      // wire document load state changes
      document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
          case 'loading':
            logMessage(`loading: data url: ${dataUrl}`);
          break;
          case 'interactive':
            // document loading finished, images and stylesheets are still loading ...
            logMessage('interactive!');
            // get initial data info: document url, views, etc.
            vscode.postMessage({command: 'getDataInfo'});
            break;
          case "complete":
            // web page is fully loaded
            logMessage('document.readystatechange complete\n\n data.view:complete!');
            break;
        }      
      });

      // tag viewer loading
      window.addEventListener('WebComponentsReady', event => {
        logMessage('window.WebComponentsReady\n\n data viewer initialized!');
      });

      // initialize data view on content loaded
      document.addEventListener('DOMContentLoaded', event => initializeDataView());

      /**
       * Loads raw data source content on view data source button click.
       */
      function viewDataSource() {
        vscode.postMessage({
            command: 'loadView',
            viewName: 'vscode.open',
            uri: `${dataUrl}`
          });
      }

      /**
       * Loads initial data view info.
       * @param data Data info with data url, views, etc.
       */
      function loadDataInfo(data) {
        // initialize data view vars
        dataUrl = data.uri;
        dataFileName = data.fileName;
        dataTable = data.table;
        dataViews = data.views;
        viewConfig = data.config;
        logLevel = data.logLevel;
        logMessage(`loadDataInfo()\n\n data url: ${dataUrl}\n data table: ${dataTable}`);

        // update view config
        restoreConfig(viewConfig);
      }

      /**
       * Initializes data view UI elements,
       * updates view state, config, and 
       * requests first data load for display.
       */
      function initializeDataView() {
        // initialize toolbar & perspective data viewer
        logMessage('initializeDataView()\n\n initializing...');
        title = document.getElementById('title');
        dataViewConsoleText = document.getElementById('data-view-console-text');
        tableSelector = document.getElementById('table-selector');
        dataUrlInput = document.getElementById('data-url-input');
        saveFileTypeSelector = document.getElementById('save-file-type-selector');
        viewer = document.getElementsByTagName('perspective-viewer')[0];
        try {
          // request first data update
          vscode.postMessage({command: 'refresh'});

          // add view update handler
          viewer.addEventListener('perspective-view-update', event => {
              logMessage(`viewer.perspective-view-update...`);
              updateStats();
          });

          // add viewer config change handler for saving view state
          viewer.addEventListener('perspective-config-update', event => {
            if (!restoringConfig) {
              updateConfig();
              updateStats();
            }
          });

          // add viewer click handler for cross-filtering
          viewer.addEventListener('perspective-click', event => {
            // TODO: experiment with this cross filter selection later
            // console.log(`data.view:dataClick(${dataTable}): detail=${event.detail.row} columns=${event.detail.column_names}`);
          });
        }
        catch (error) {
          console.error(`data.view:vscode:error ${error.message}`);
        }
      } // end of initializeDataView()

      /**
       * Updates data stats on view config changes or data load/update.
       */
      function updateStats() {
        // get rows count and displayed columns info
        viewer.view.num_rows().then(rowCount => {
          let columns = viewer['columns'];
          if (viewConfig.hasOwnProperty('columns')) {
            // use view config columns property instead
            columns = viewConfig['columns'].split('\",\"');
          }
          // notify webview for data stats status update
          vscode.postMessage({
            command: 'stats',
            columns: columns,
            rowCount: rowCount
          });
          logMessage(`updateStats()\n\n columns: ${columns}\n rows: ${rowCount.toLocaleString()}`);
        });
      } // end of updateStats()

      /**
       * Restores data view config on new data view load or new view config load.
       * @param viewConfig Data view config to restore.
       */
      function restoreConfig(viewConfig) {
        // set updating view config flag
        restoringConfig = true;

        // restore view config
        logMessage(`restoreConfig(\n${JSON.stringify(viewConfig, null, 2)})`);
        viewer.restore(viewConfig);        

        // clear updating view config flag
        restoringConfig = false;
      }

      /**
       * Updates view config caused by user interactions or new config load.
       */
      function updateConfig() {
        // get latest view config state from data viewer
        const viewerConfig = viewer.save();
        
        // strip out updating, render time and style properties for clean view config compare and save
        deleteProperty('updating', viewerConfig);
        deleteProperty('render_time', viewerConfig);
        deleteProperty('style', viewerConfig);
        deleteProperty('class', viewerConfig);
        // logMessage(`viewer.perspective-config-update\n${logConfig(viewConfig)}\n${logConfig(viewerConfig)}`);
        
        // update view config state and create config change log
        let configChangeLog = '';
        Object.keys(viewerConfig).forEach(propertyName => {
          if (viewConfig[propertyName] === undefined || 
              viewConfig[propertyName] !== viewerConfig[propertyName]) {
            viewConfig[propertyName] = viewerConfig[propertyName];
            configChangeLog += `\n ${propertyName}: ${viewConfig[propertyName]}`;
          }
        });

        if (configChangeLog.length > 0 ) {
          logMessage(`viewer.perspective-config-update \n${configChangeLog}`);
          // save updated view config state for vscode data view panel reload
          vscode.setState({
            uri: dataUrl,
            table: dataTable, 
            config: viewConfig,
            views: dataViews
          });
          // notify data preview
          vscode.postMessage({
            command: 'config',
            table: dataTable,
            config: viewConfig
          });
        }
      } // end of updateConfig()

      /**
       * Deletes object property.
       * @param propertyName Property name to delete.
       */
      function deleteProperty(propertyName, obj) {
        if (obj.hasOwnProperty(propertyName)) {
          delete obj[propertyName];
        }
      }

      /**
       * Updates data view on data file change.
       * @param data Refresh data json with doc uri, fileName and raw data to display.
       */
      function refresh(data) {
        try {
          // initialize data view vars and UI elements
          dataUrl = data.uri;
          dataFileName = data.fileName;
          dataTable = data.table;
          dataViews = data.views;
          logLevel = data.logLevel;
          title.innerText = data.fileName;

          // load table list for multi-table data views display
          loadTableList(data.tableNames, dataTable);

          // load new data view config, if different
          reloadDataViewConfig(data.config);

          // load file data
          logMessage(`refresh(dataTable='${dataTable}')\n\n loading data: ${data.fileName} ...`);
          const tableData = getData(data.fileName, data.data, data.schema);
          if (Array.isArray(viewData) && viewData.length === 0) {
            // initialize perspective viewer
            logMessage(`refresh(dataTable='${dataTable}')\n\n initializing data view: ${data.fileName} ...`);
            if (data.schema && Object.keys(data.schema).length > 0) {
              // viewer.columns = viewConfig['columns'];
              viewer.load(data.schema);
              viewer.update(tableData);
            }
            else {
              viewer.load(tableData);
            }
            if (toggleConfig) {
              // show viewer toggles on the 1st run
              viewer.toggleConfig();
              toggleConfig = false;
              toggleDataViewConsoleDisplay();
            }
          } else {  // update viewer data without toggles reset
            logMessage(`refresh('${dataTable}')\n\n updating view data: ${data.fileName} ...`);
            viewer.clear();
            viewer.update(tableData);
            updateStats();
          }
          // save loaded view data for future data update checks
          viewData = tableData;
        } catch (error) {
          console.error(`data.view:refresh(): error: ${error.message}`);
        }
      } // end of refresh(data)

      /**
       * Loads data table names for multi-table data views display.
       * @param dataTableNames Data source table names array.
       * @param dataTable Requested data view table name.
       **/
      function loadTableList(dataTableNames, dataTable) {
        if (tableNames.length <= 0) {
          logMessage(`loadTableList(\n tableNames = [${dataTableNames}]\n requestedDataTable = '${dataTable}'\n)`);
          dataTableNames.forEach(tableName => {
            tableSelector.innerHTML += `<option value="${tableName}">${tableName}</option>"`;
            tableNames.push(tableName);
          });
          if (tableNames.length > 0) {
            // show table selector dropdown
            tableSelector.style.display = 'inline-block';
            // set requested data table
            tableSelector.value = dataTable;
          }
        }
      }

      /**
       * Reloads data view config, resets view data and state
       * on new data view load, view config load, or data refresh.
       * @param dataViewConfig Data view config to load.
       **/
      function reloadDataViewConfig(dataViewConfig) {
        // check view config
        if (JSON.stringify(viewConfig) !== JSON.stringify(dataViewConfig)) {
          logMessage(`reloadDataViewConfig(\n${logConfig(dataViewConfig)})`);
          // save updated view config
          viewConfig = dataViewConfig;
          // update data viewer for new view config display
          restoreConfig(viewConfig);
          // reset view data for reaload
          viewData = [];
          // update data view state
          vscode.setState({
            uri: dataUrl,
            table: dataTable,
            config: viewConfig,
            views: dataViews
          });
        }
      }

      /** 
       * Gets data for display in perspective viewer.
       * @param fileName Data file name.
       * @param data Raw text or json array data.
       * @param schema Optional data schema.
       **/
      function getData(fileName, data, schema = {}) {
        let tableData = [];
        logMessage(`getData()\n\n loading file data: ${fileName} ...`);
        // read file data
        const fileExt = fileName.substr(fileName.lastIndexOf('.'));
        // TODO: rework this for large data files streaming
        switch (fileExt) {
          case '.md':
          case '.csv':
          case '.tsv':
          case '.txt':
          case '.tab':
            // pass through text data for data view to load
            tableData = data;
            // log records count, i.e. text lines - 1 (header) for text data in csv format
            const recordCount = data.split('\n').length - 1;
            logMessage(`getData()\n\n records count: ${recordCount.toLocaleString()}`);
            break;
          case '.xls':
          case '.xlsb':
          case '.xlsx':
          case '.xlsm':
          case '.ods':
          case '.dif':
          case '.xml':
          case '.html':
          case '.avro':
          case '.env':
          case '.properties':
          case '.config':
          case '.ini':
          case '.yaml':
          case '.yml':
          case '.json':
          case '.json5':
          case '.hjson':
            // pass through loaded data json
            tableData = data;
            logMessage(`getData()\n\n records count: ${tableData.length.toLocaleString()}`);
            break;
          case '.arrow':
            // return empty data array since binary data is loaded elsewhere
            tableData = [];
            logMessage(`getData()\n\n schema: ${JSON.stringify(schema, null, 2)}`);
            break;
          case '.parquet':
            // TODO: add parquet data read
            console.info('data.preview:\n\n Parquet data format support coming soon!');
            break;
        }
        return tableData;
      } // end of getData()

      /**
       * Saves data view config, and filtered json or csv data.
       */
      function saveData() {
        const dataFileType = saveFileTypeSelector.value;
        switch (dataFileType) {
          case '.config':
            const dataFileName = dataUrl.substr(dataUrl.lastIndexOf('/') + 1);
            const data = {
              dataFileName: dataFileName,
              dataTable: dataTable,
              config: parseConfig(viewConfig)
            };
            if (dataUrl.startsWith('http')) {
              // append remote data url
              data['dataUrl'] = dataUrl;
            }
            postData(data, dataFileType);
            break;
          case '.arrow':
            viewer.view.to_arrow().then(arrayBuffer => {
              postArrowData(arrayBuffer, dataFileType);
            });
            break;
          case '.csv':
          case '.md':
            viewer.view.to_csv().then(csv => postData(csv, dataFileType));
            break;
          case '.json':
          case '.json5':
          case '.hjson':
          case '.html':
          case '.ods':
          case '.xml':
          case '.xlsb':
          case '.xlsx':
          case '.yml':
          case '.properties':
            viewer.view.to_json().then(json => postData(json, dataFileType));
            break;
        }
      } // end of saveData()

      /**
       * Parses data view config by converting config string properties 
       * to arrays and objects for the data viewer web component attributes.
       * @param viewConfig View config object to parse.
       */
      function parseConfig(viewConfig) {
        // set new view config plugin attribute
        viewConfig['plugin'] = viewConfig['view'];
        // create clean view config instance
        const config = {};
        Object.keys(viewConfig).forEach(key => {
          config[key] = viewConfig[key];
          if (typeof viewConfig[key] === 'string') {
            const attribute = String(viewConfig[key]);
            if (attribute.startsWith('{') || attribute.startsWith('[')) {
              // parse config object or array
              config[key] = JSON.parse(attribute);
            }
          }
        });
        return config;
      }

      /**
       * Posts binary Arrow data for saving.
       * @param arrayBuffer Arrow data ArrayBuffer to save.
       * @param dataFileType Data file type to save: .arrow, .md, etc.
       */
      function postArrowData(arrayBuffer, dataFileType) {
        const dataArray = new Uint8Array(arrayBuffer);
        postData(Array.from(dataArray), dataFileType);
      }

      /**
       * Posts Data View data for saving.
       * @param fileData File data to save.
       * @param dataFileType Data file type to save: .config, .arrow, .csv, .json(s), .md, .yml, etc.
       */
      function postData(fileData, dataFileType) {
        vscode.postMessage({
          command:'saveData',
          data: fileData,
          fileType: dataFileType
        });
      }

      /**
       * Reloads view data.
       * @param dataTable Optional data table name for data files with multiple data sets.
       */
      function reloadData(dataTable = '') {
        vscode.postMessage({
          command: 'refresh',
          table: dataTable
        });
      }

      /**
       * Loads requested table data for data files with multiple data sets.
       */
      function loadTableData() {
        // get new table name selection from table selector list
        let tableName = tableSelector.value;
        if (!tableName || tableName === undefined) {
          // reset to empty for default data load
          dataTable = '';
        } else {
          // reset view data table and config for new data load
          dataTable = tableName;
          viewData = [];
          restoringConfig = true;
          viewConfig = {};
          viewer.reset();
          restoringConfig = false;
          viewer.clear();
          if (dataViews.hasOwnProperty(dataTable)) {
            viewConfig = dataViews[dataTable];
            restoreConfig(viewConfig);
          }
          vscode.postMessage({
            command: 'config',
            table: dataTable,
            config: viewConfig
          });
        }
        reloadData(dataTable);
      }

      /**
       * Launches new data preview.
       */
      function loadDataPreview() {
        let documentUri = dataUrl; // for new data.preview launch
        // check if loaded data view is for a view config file
        if (dataUrl.endsWith('.config') && 
            viewData.length > 0 &&
            viewData[0].hasOwnProperty('key') && 
            viewData[0].hasOwnProperty('value')) {
          // extract data file name from config to load that data view
          const dataViewFileName = viewData.find(config => config.key === 'dataFileName');
          const view = viewData.find(config => config.key === 'config.view');
          if (view !== undefined && dataViewFileName !== undefined) {
            // must be our data.view config: swap it out to load that data
            documentUri = dataUrl.replace(dataFileName, dataViewFileName.value);
          }
        } 
        // launch new data preview
        vscode.postMessage({
          command: 'loadView',
          viewName: 'data.preview',
          uri: documentUri
        });
      }

      /**
       * Launches new data preview for entered url in data url input textbox.
       */
      function loadDataPreviewForUrl(e) {
        if (!e) e = window.event;
        const keyCode = e.keyCode || e.which;
        if (keyCode == '13') {
          const url = dataUrlInput.value;
          // launch new data preview
          vscode.postMessage({
            command: 'loadView',
            viewName: 'data.preview',
            uri: url
          });
        }
      }

      /**
       * Opens file dialog to launch new data preview
       * for the selected data file from the supported data formats list.
       **/
      function openFile() {
        vscode.postMessage({command: 'openFile'});
      }

      /**
       * Loads data preview help in a browser window.
       */
      function loadHelp() {
        vscode.postMessage({
            command: 'loadView',
            viewName: 'vscode.open',
            uri: 'https://github.com/RandomFractals/vscode-data-preview#usage-tips'
          });
      }

      /**
       * Opens load data view config file dialog.
       */
      function loadConfig() {
        vscode.postMessage({command:'loadConfig'});
      }

      /**
       * Rolls back last view config changes.
       */
      function undoConfig() {
        vscode.postMessage({command:'undoConfig'});
      }

      /**
       * Applies next view config changes
       * in the recorded view config changes stack.
       */
      function redoConfig() {
        vscode.postMessage({command:'redoConfig'});
      }

      /**
       * Logs new data.view message to console for more info or debug.
       * @param message Log message text.
       * @param logLevel Optional log level type.
       */
      function logMessage(message, logLevel = 'debug') {
        const category = 'data.view:';
        switch (logLevel) {
          case 'warn':
            console.warn(category + message);
            break;
          case 'info':
            console.info(category + message);
            break;
          case 'error':
            console.error(category + message);
            break;
          default: // debug
            console.log(category + message);
            break;
        }
        if (dataViewConsoleText) {
          // log data view message to text console for display
          dataViewConsoleText.value += `${message}\n\n> `;
        }
      }

      /**
       * Converts data view config to string for console log display.
       * @param dataViewConfig Data view config object or string.
       */
      function logConfig(dataViewConfig) {
        return (typeof dataViewConfig === 'string') ? dataViewConfig: JSON.stringify(dataViewConfig, null, 2);
      }

      /**
       * Toggles data view console text display
       * with data loading or config/data refresh debug messages
       * for issues troubleshooting and dev.
       */
      function toggleDataViewConsoleDisplay() {
        // toggle data view console display
        dataViewConsoleText.style.display = 
          (dataViewConsoleText.style.display === 'none') ? 'block': 'none';
      }

      /**
       * Checks web client web assembly support.
       */
      function supportsWebAssembly() {
        try {
          if (typeof WebAssembly === 'object' && typeof WebAssembly.instantiate === 'function') {
            const module = new WebAssembly.Module(Uint8Array.of(0x0, 0x61, 0x73, 0x6d, 0x01, 0x00, 0x00, 0x00));
            if (module instanceof WebAssembly.Module) {
              return new WebAssembly.Instance(module) instanceof WebAssembly.Instance;
            }
          }
        } catch (e) {}
        return false;
      }
    </script>
  </body>
</html>
