<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" 
      content="default-src * vscode-resource: https: 'unsafe-inline' 'unsafe-eval';
        script-src vscode-resource: blob: https: 'unsafe-inline' 'unsafe-eval';
        style-src vscode-resource: https: 'unsafe-inline';
        img-src vscode-resource: data: https:;
        connect-src vscode-resource: blob: data: https: http:;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Data Preview">
    <base href="https://github.com/RandomFractals/vscode-data-preview" target="_blank" />
    <title>Data Preview</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="{scripts}/perspective.js"></script>
    <script src="https://unpkg.com/@finos/perspective-viewer@0.3.0/build/perspective.view.js"></script>
    <script src="{scripts}/hypergrid.plugin.js"></script>
    <script src="{scripts}/{charts}.plugin.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@finos/perspective-viewer@0.3.0/build/material{theme}.css">
    <style>
      body {
        margin: 0px;
      }
      #app-icon {
        color: orange;
        font-weight: bold;
        font-size: 11pt;
        padding: 0px 2px 0px 2px;
      }
      #toolbar {
        margin-top: 5px;
        padding: 0px;
        font-size: 10pt;
        font-weight: normal;
      }
      #toolbar a {
        color: dodgerblue;
        text-decoration: none;
        margin: 0px;
        padding: 0px 5px 3px 5px;
      }
      #title {
        margin: 0px;
        padding: 0px;
      }
      #data-viewer {
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .hidden {
        display: none;
      }
      select {
        color: var(--vscode-editor-foreground);
        background-color: var(--vscode-editor-background);
      }
    </style>
  </head>
  <body>
    <div id="toolbar">
      <div style="float: right; width: 50px;">
        <select id="save-file-type-selector" onChange="saveData()">
          <option value="">Save</option>
          <option value=".config">config</option>
          <option value=".csv">csv</option>
          <option value=".json">json</option>
          <option value=".yml">yaml</option>
        </select>
      </div>
      <div>
        <span id="app-icon">🈸</span>
        <a id="title" title="Load data view config" href="#" onclick="loadConfig()">...</a>
        <select id="table-selector" style="display: none;" onChange="loadTableData()">
        </select>
        <!-- |
        <a title="Undo" href="#" onclick="undoConfig()"> ↩ </a>
        <a title="Redo" href="#" onclick="redoConfig()"> ↪ </a>
        -->
        <a style="color: orange;" title="Refresh data" href="#" onclick="reloadData()"> 🔃 </a>
      </div>
    </div>    
    <perspective-viewer id="data-viewer" view="grid"></perspective-viewer>
    <script type="text/javascript">
      // data preview vars
      let vscode, title, tableSelector, saveFileTypeSelector, 
        dataUri, viewer, toggleConfig = true, dataTable = '', dataViews = {},
        tableList = [], viewConfig = {}, viewData = [];

      // check web assembly support. uncomment this for dev debug:
      // console.log(`data.view:supportsWebAssembly(): ${supportsWebAssembly()}`);
      
      // tag perspective viewer loading
      window.addEventListener('WebComponentsReady', event => {
        console.log('data.view:WebComponentsReady: perspective viewer initialized!');
      });

      document.addEventListener('DOMContentLoaded', event => initializeDataView());

      // add webview post message even handler
      window.addEventListener('message', event => {
        switch (event.data.command) {
          case 'refresh':
            refresh(event.data);
            break;
          default: // help
            // TODO: add quick data preivew popup display
            // with info how to work prespective viewer toggles UI
            break;
        }
      });

      /**
       * Initializes data view UI elements and vs code api
       * for webview message data updates.
       */
      function initializeDataView() {
        // initialize toolbar & perspective data viewer
        title = document.getElementById('title');
        tableSelector = document.getElementById('table-selector');
        saveFileTypeSelector = document.getElementById('save-file-type-selector');
        viewer = document.getElementsByTagName('perspective-viewer')[0];
        try {
          // init vs code api for messaging
          vscode = acquireVsCodeApi();

          // request first data update
          vscode.postMessage({command: 'refresh'});

          // add viewer config change handler for saving view state
          viewer.addEventListener('perspective-config-update', event => {
            // get latest view config state
            viewConfig = viewer.save();
            // strip out updating and render time props for view config save
            deleteProperty('updating', viewConfig);
            deleteProperty('render_time', viewConfig);
            // save view config for vscode reload
            vscode.setState({
              uri: dataUri, 
              table: dataTable, 
              config: viewConfig,
              views: dataViews
            });
            // update data viw config
            vscode.postMessage({
              command: 'config',
              table: dataTable,
              config: viewConfig
            });
          });
        }
        catch (error) {
          console.error(`data.view:vscode:error ${error.message}`);
        }
      }

      /**
       * Deletes object property.
       * @param propertyName Property name to delete.
       */
      function deleteProperty(propertyName, obj) {
        if (obj.hasOwnProperty(propertyName)) {
          delete obj[propertyName];
        }
      }

      /**
       * Updates data view on data file change.
       * @param data Refresh data json with doc uri, fileName and raw data to display.
       */
      function refresh(data) {
        try {
          // initialize data view vars and UI elements
          dataUri = data.uri;
          dataTable = data.table;
          dataViews = data.views;
          title.innerText = data.fileName;
          if (tableList.length <= 0) {
            // load table list for data view display
            console.log(`data.view:refresh(): table list: ${data.tableList}`);
            data.tableList.forEach(tableName => {
              tableSelector.innerHTML += `<option value="${tableName}">${tableName}</option>"`;
              tableList.push(tableName);
            });
            if (tableList.length > 0) {
              // show table selector dropdown
              tableSelector.style.display = 'inline-block';
              // set requested data table
              tableSelector.value = dataTable;
            }
          }

          // check view config
          if (JSON.stringify(viewConfig) !== JSON.stringify(data.config)) {
            viewConfig = data.config;
            // update view config
            viewer.restore(viewConfig);
            // reset view data for reaload
            viewData = [];
            // update data view state
            vscode.setState({
              uri: dataUri, 
              table: dataTable, 
              config: viewConfig,
              views: dataViews
            });
          }

          // load file data
          const tableData = getData(data.fileName, data.data, data.schema);
          if (Array.isArray(viewData) && viewData.length === 0) {
            // initialize perspective viewer
            console.log(`data.view:refresh(${dataTable}): initializing view data for: ${data.fileName}`);
            if (data.schema !== undefined && Object.keys(data.schema).length > 0) {
              // viewer.columns = viewConfig['columns'];
              viewer.load(data.schema);
              viewer.update(tableData);
            }
            else {
              viewer.load(tableData);
            }
            if (toggleConfig) {
              // show viewer toggles on the 1st run
              viewer.toggleConfig();
              toggleConfig = false;
            }
          } else {  // update viewer data without toggles reset
            console.log(`data.view:refresh(${dataTable}): updating view data for: ${data.fileName}`);
            viewer.clear();
            viewer.update(tableData);
          }
          // save loaded view data for future data update checks
          viewData = tableData;
        } catch (error) {
          console.error(`data.view:refresh(): error: ${error.message}`);
        }
      } // end of refresh(data)

      /** 
       * Gets data for display in perspective viewer.
       * @param fileName Data file name.
       * @param data Raw text or json array data.
       * @param schema Optional data schema.
       **/
      function getData(fileName, data, schema = {}) {
        let tableData = [];
        console.log(`data.view:getData(): loading file data: ${fileName}`);
        // read file data
        const fileExt = fileName.substr(fileName.lastIndexOf('.'));
        // TODO: rework this for large data files streaming
        switch (fileExt) {
          case '.csv':
          case '.tsv':
          case '.txt':
          case '.tab':
            // pass through text data for data view to load
            tableData = data;
            break;
          case '.xls':
          case '.xlsb':
          case '.xlsx':
          case '.xlsm':
          case '.slk':
          case '.ods':
          case '.prn':
          case '.dif':
          case '.xml':
          case '.html':
          case '.avro':
          case '.env':
          case '.properties':
          case '.config':
          case '.yaml':
          case '.yml':
          case '.json':
            // pass through loaded data json
            tableData = data;
            console.log(`data.view:getData(): records count: ${tableData.length}`);
            break;
          case '.arrow':
            // pass through arrow table data json
            tableData = data;
            console.log(`data.view:getData(): schema: ${JSON.stringify(schema, null, 2)}`);
            console.log(`data.view:getData(): records count: ${tableData.length}`);
            break;
          case '.parquet':
            // TODO: add parquet data read
            console.info('Parquet data format support coming soon!');
            break;
        }
        return tableData;
      } // end of getData()

      /**
       * Saves data view config, and filtered json or csv data.
       */
      function saveData() {
        const dataFileType = saveFileTypeSelector.value;
        switch (dataFileType) {
          case '.config':
            const dataFileName = dataUri.substr(dataUri.lastIndexOf('/') + 1);
            const data = {
              dataFileName: dataFileName,
              dataTable: dataTable,
              config: viewConfig
            };
            postData(dataFileType, data);
            break;
          case '.csv':
            viewer.view.to_csv().then(csv => postData(dataFileType, csv));
            break;
          case '.json':
          case '.yml':
            viewer.view.to_json().then(json => postData(dataFileType, json));
            break;
        }
      }

      /**
       * Posts data view data for saving.
       * @param dataFileType Data file type to save.
       * @param fileData File data to save.
       */
      function postData(dataFileType, fileData) {
        vscode.postMessage({
          command:'saveData',
          fileType: dataFileType,
          data: fileData
        });
      }

      /**
       * Reloads view data.
       * @param dataTable Optional data table name for data files with multiple data sets.
       */
      function reloadData(dataTable = '') {
        vscode.postMessage({
          command: 'refresh',
          table: dataTable
        });
      }

      /**
       * Loads requested table data for data files with multiple data sets.
       */
      function loadTableData() {
        let tableName = tableSelector.value;
        if (!tableName || tableName === undefined) {
          // reset to empty for default data load
          dataTable = '';
        } else {
          // reset view data table and config for new data load
          dataTable = tableName;
          viewData = [];
          viewConfig = {};
          viewer.clear();
          if (dataViews.hasOwnProperty(dataTable)) {
            viewConfig = dataViews[dataTable];
            viewer.restore(viewConfig);
          }
          vscode.postMessage({
            command: 'config',
            table: dataTable,
            config: viewConfig
          });
        }
        reloadData(dataTable);
      }

      /**
       * Opens load data view config file dialog.
       */
      function loadConfig() {
        vscode.postMessage({command:'loadConfig'});
      }

      /**
       * Rolls back last view config changes.
       */
      function undoConfig() {
        vscode.postMessage({command:'undoConfig'});
      }

      /**
       * Applies next view config changes
       * in the recorded view config changes stack.
       */
      function redoConfig() {
        vscode.postMessage({command:'redoConfig'});
      }

      /**
       * Checks web client web assembly support.
       */
      function supportsWebAssembly() {
        try {
          if (typeof WebAssembly === 'object' && typeof WebAssembly.instantiate === 'function') {
            const module = new WebAssembly.Module(Uint8Array.of(0x0, 0x61, 0x73, 0x6d, 0x01, 0x00, 0x00, 0x00));
            if (module instanceof WebAssembly.Module) {
              return new WebAssembly.Instance(module) instanceof WebAssembly.Instance;
            }
          }
        } catch (e) {}
        return false;
      }
    </script>
  </body>
</html>
