<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" 
      content="default-src * vscode-resource: https: 'unsafe-inline' 'unsafe-eval';
        script-src vscode-resource: blob: https: 'unsafe-inline' 'unsafe-eval';
        style-src vscode-resource: https: 'unsafe-inline';
        img-src vscode-resource: data: https:;
        connect-src vscode-resource: blob: data: https: http:;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Data Preview">
    <base href="https://github.com/RandomFractals/vscode-data-preview" target="_blank" />
    <title>Data Preview</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="{scripts}/perspective.js"></script>
    <script src="https://unpkg.com/@finos/perspective-viewer@0.3.0-rc.2/build/perspective.view.js"></script>
    <script src="{scripts}/hypergrid.plugin.js"></script>
    <script src="{scripts}/highcharts.plugin.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@finos/perspective-viewer@0.3.0-rc.2/build/material.css">
    <style>
      body {
        background:#fff;
        color: #333;
        margin: 0px;
      }
      #data-viewer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid #999;
      }
    </style>
  </head>
  <body>
    <perspective-viewer id="data-viewer" view="grid"></perspective-viewer>
    <script type="text/javascript">
      // data preview vars
      let viewer, vscode, data = [];

      // check web assembly support. uncomment this for dev debug:
      // console.log(`data.preview:supportsWebAssembly(): ${supportsWebAssembly()}`);
      
      // tag data view loading
      window.addEventListener('WebComponentsReady', event => {
        console.log('data.preview:WebComponentsReady: loading perspective data view...');
      });

      document.addEventListener('DOMContentLoaded', event => {
        // initialize page elements
        viewer = document.getElementsByTagName('perspective-viewer')[0];
        try {
          // notify webview
          vscode = acquireVsCodeApi();
          vscode.postMessage({command: 'refresh'});
        }
        catch (error) {
          console.error(`data.preview:vscode:error ${error.message}`);
          // ignore: must be loaded outside of vscode webview
        }
      });

      // data file change update handler
      window.addEventListener('message', event => {
        switch (event.data.command) {
          case 'refresh':
            try {
              // set preview state src data file uri for restore on vscode reload
              vscode.setState({uri: event.data.uri});

              // load file data
              const fileName = event.data.fileName;
              const tableData = getData(fileName, event.data.data);
              if (Array.isArray(data) && data.length === 0) {
                // initialize perspective viewer
                viewer.reset();
                viewer.load(tableData);
                viewer.toggleConfig();
              } else {
                // update viewer data without toggles reset
                viewer.update(tableData);
              }
              // save loaded viewer data for future updates
              data = event.data.data;
            }
            catch (error) {
              console.error(`data.preview:error: ${error.message}`);
            }
            break;
          default: // help
            // TODO: add quick data preivew popup display
            // with info how to work prespective viewer toggles UI
            break;
        }
      });

      /** 
       * Coverts raw text or binary data to flat arrays for display in perspective viewer.
       * @param fileName Data file name.
       * @param data Raw text or binary file data.
       **/
      function getData(fileName, data) {
        let tableData = [];
        console.log(`data.preview:getData(): loading file data: ${fileName}`);
        if (fileName.endsWith('.csv')) {
          tableData = data;
        } else if (fileName.endsWith('.json')) {
          // try to parse JSON array data
          tableData = JSON.parse(data);
        }
        // TODO: add arrow data loading & streaming later
        return tableData;
      }

      /**
       * Checks web client web assembly support.
       */
      function supportsWebAssembly() {
        try {
          if (typeof WebAssembly === 'object' &&
              typeof WebAssembly.instantiate === 'function') {
            const module = new WebAssembly.Module(Uint8Array.of(0x0, 0x61, 0x73, 0x6d, 0x01, 0x00, 0x00, 0x00));
            if (module instanceof WebAssembly.Module) {
                return new WebAssembly.Instance(module) instanceof WebAssembly.Instance;
            }
          }
        } catch (e) {
        }
        return false;
      }
    </script>
  </body>
</html>
